<h1> Hello, rails </h1>
<%= link_to 'My First Blog', controller: 'articles' %>
<%= link_to 'My First Blog', controller: 'posts' %>

<%= link_to 'Sign-out', destroy_user_session_path, method: :delete %>