<!-- Footer --> 
<marquee id="mq">Note:- <strong>TRADE VIEW RESEARCH</strong> DO NOT PROVIDE ANY PROFIT SHARING SERVICES, GUARANTEED SERVICE AND SERVICES WHICH ARE NOT MENTIONED IN OUR WEBSITE, IF ANY PERSON TRY TO SELL SUCH TYPE OF PRODUCT KINDLY WRITE TO US - complaint@tradeviewresearch.com AN INVESTMENT IN STOCK OR COMMODITY MARKETS IS SUBJECT TO MARKET RISK, PLEASE READ OUR DISCLAIMER BEFORE SUBSCRIBING OUR SERVICES
</marquee>



<footer class=" bg-dark footer hidden-xs">
<div class="container" style="width: 100%;">
  <div class="row">
   <div class="col-sm-3">
     <a href="/">
      <div id="m1">
        <%#= image_tag "final logo 11.PNG", class: "img-responsive", alt: "Image", id:"img1",style: ""%>
      </div>
      </a>  
   </div>
   <div class="col-sm-3
   ">
   <ul class="clearfix " id="u1">
           
             <h3>Useful links</h3>
              <li><a href="/terms-condition">Terms & Condition</a></li>
              <li><a href="/disclaimer">Disclaimer</a></li>
              <li><a href="/kyc-form">KYC Form</a></li>
              <li><a href="/refund-policy">Refund Policy</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li><a href="/risk-profile">Risk Profiling</a></li>
            </ul>
            <ul class="clearfix " id="tracksheet1" class="pull-right">
              <h3>TrackSheets</h3>
              <%#Tracksheet.all.each do |traksheet| %>
                <li><%#= link_to traksheet.name, traksheet.track_sheet_url %></li>
              <%#end %>
            </ul>

   </div>
   <div class="col-sm-3" id="contact-us">

          <h3 class="text-white" style="margin-left: -66px;">Contact us</h3>
          <div class="border-2-side">
           <p id="address">Address - 318, Third Floor, Shyam Squire, Pandri, Raipur 492004</p>
            <!-- <p id="address" class="font-12">New proposed address: Plot No 199 Scheme No 54 Office No 101-201 PU4 Indore (M.P)</p> -->
                <p><span >Phone: (+91)09039112958</span></p>
            <p><span > For Sales and Support :-<a href="" style="color:#2c9ac7;"> support@tradeviewresearch.com</a></span></p>
            <p class="email2"><span > For Any Enquiry :- <br><a href="" style="color:#2c9ac7;"> info@tradeviewresearch.com</a></span></p>
            
            <div class="pull-right" id="follow-us-footer">
            <h3 class="text-white" style= "margin-top: 31%;">Follow us</h3> 
          <ul  class="social social-footer" id="footer-follow-us">
          <div class="row">
            <div class="col-sm-4">
              <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
            </div>
           <div class="col-sm-4">
             <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
            </div>
            <div class="col-sm-4">
              <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
             </div>
           </div>
           <div class="row">
             <div class="col-sm-4">
              <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
              </div>
              <div class="col-sm-4">
              <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </div>
          </ul>
          </div>

        </div>
   </div>
   <div class="col-sm-3">
   
   </div>

  </div>
  <div class="line" style="margin-top: 16px;background: #888;"></div>
 
      <div class="col-md-12 footer-link" id="address" style="margin-top: -3px; margin-bottom: -47px;">
        <p>Copyright © 2018 Trade View Research. All rights reserved.</p>
        <ul style="margin-right: 6%;">
          <li><a href="/about">About </a></li>
          <li><a href="/contact">Contact Us </a></li>
          <li><a href="/terms-condition">Term & Conditions</a></li>
          <li><a href="/privacy-policy">Privacy Policy </a></li>
          <li><a href="">Sites Map</a></li>
        </ul>
      </div>
    </div><!-- End Row -->

  </div><!-- End container --> 
</footer><!-- End  -->

</div><!-- End Page -->

<div id="overlay"></div>
<!-- Overlay Mobile Menu Click -->
<a id="to-the-top" style="display: block;"><i class="fa fa-angle-up"></i></a> <!-- Back To Top -->
    <!-- SCRIPT
    ================================================== -->
<footer class=" bg-dark footer hidden-lg hidden-md hidden-sm">
<div class="container" style="width: 100%;">
  <div class="row">
   <div class="col-sm-3">
     <a href="/">
      <div id="m1">
        <%#= image_tag "final logo 11.PNG", class: "img-responsive", alt: "Image", id:"img1",style: ""%>
      </div>
      </a>  
   </div>
   <div class="col-sm-3 hidden-xs hidden-md">
   <ul class="clearfix " id="u1">
           
             <h3>Useful links</h3>
              <li><a href="/terms-condition">Terms & Condition</a></li>
              <li><a href="/disclaimer">Disclaimer</a></li>
              <li><a href="/kyc-form">KYC Form</a></li>
              <li><a href="/refund-policy">Refund Policy</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li><a href="/risk-profile">Risk Profiling</a></li>
            </ul>
             <ul class="clearfix " id="tracksheet1" class="pull-right">
             <h3>TrackSheets</h3>
              <li><a> Equity</a></li>
              <li><a> F&O </a></li>
              <li><a>Commodity</a></li>
              <li><a>Currency</a></li>
            </ul>

   </div>
   <div class="container hidden-lg hidden-md">
  <div class="row hidden-lg" style="margin-top: 49px;">
    <div class="col-sm-6" style="margin-left: -45px;">
     <u1 style="margin-left: -52px;">
    <h3 style="color: #fff;margin-left: -258px; margin-top: 44px;">Useful links</h3>
              <li><a href="/terms-condition">Terms & Condition</a></li>
              <li><a href="/disclaimer">Disclaimer</a></li>
              <li><a href="/kyc-form">KYC Form</a></li>
              <li><a href="/refund-policy">Refund Policy</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li><a href="/risk-profile">Risk Profiling</a></li>
            </ul>
    </div>
    <div class="col-sm-6" style=" margin-left: 120px;
">
    <ul class="clearfix"  class="pull-right" style="margin-left: 0%;margin-top: -227px;"> 
             <h3 style="color: #fff;margin-left: -78px;">TrackSheets</h3>
              <li><a> Equity</a></li>
              <li><a> F&O </a></li>
              <li><a>Commodity</a></li>
              <li><a>Currency</a></li>
            </ul>

    </div>
  </div>
</div>
   <div class="col-sm-3 hidden-xs hidden-md" id="contact-us">

          <h3 class="text-white" style="margin-left: -66px;">Contact us</h3>
          <div class="border-2-side">
            <p id="address">Address - 318, Third Floor, Shyam Squire, Pandri, Raipur 492004</p>
              <!-- <p id="address" class="font-12">New proposed address: Plot No 199 Scheme No 54 Office No 101-201 PU4 Indore (M.P)</p> -->
                <p><span>Phone: (+91)09039112958</span></p>
            <p><span > For Sales and Support :-<a href="" style="color:#2c9ac7;"> support@tradeviewresearch.com</a></span></p>
            <p class="email2"><span > For Any Enquiry :- <br><a href="" style="color:#2c9ac7;"> info@tradeviewresearch.com</a></span></p>
            <p><span >For Customer Complaints :-<a href="" style="color:#2c9ac7;"> complaint@tradeviewresearch.com</a></span></p>
            <div class="pull-right" id="follow-us-footer" >
            <h3 class="text-white">Follow us</h3> 
          <ul  class="social social-footer" id="footer-follow-us">
          <div class="row">
            <div class="col-sm-4">
              <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
            </div>
           <div class="col-sm-4">
             <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
            </div>
            <div class="col-sm-4">
              <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
             </div>
           </div>
           <div class="row">
             <div class="col-sm-4">
              <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
              </div>
              <div class="col-sm-4">
              <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </div>
          </ul>
          </div>

        </div>
   </div>
<div class= "col-sm-3 hidden-lg hidden-md" id="contact-us" style=" margin-left: 0%;margin-top: 62px;
    color: #fff;">
     <h3 class="text-white" style="margin-left: -66px;margin-left: -84px;">Contact us</h3>
          <div class="border-2-side">
           <p id="address">Address - 318, Third Floor, Shyam Squire, Pandri, Raipur 492004</p>
            <!-- <p id="address" class="font-12">New proposed address: Plot No 199 Scheme No 54 Office No 101-201 PU4 Indore (M.P)</p> -->
               <div style="margin-left: 41px;">
                <p><span>Phone: (+91)09039112958</span></p>
            <p><span > For sales and support :-<a href="" style="color:#2c9ac7;"><br> support@tradeviewresearch.com</a></span></p>
            <p class="email2"><span > For Any Enquiry :- <br><a href="" style="color:#2c9ac7;"> info@tradeviewresearch.com</a></span></p>
            <p><span >For Customer Complaints :-<br><a href="" style="color:#2c9ac7;"> complaint@tradeviewresearch.com</a></span></p>
      </div>
   </div>
  </div>
 <div class="footer-col-3">
          <h3 class="text-white" style="margin-left: -50px;">Follow us</h3> 
          <ul class="social social-footer">
            <li class="facebook" style="display: inline-block;"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter" style="display: inline-block;"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="google-plus" style="display: inline-block;"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="youtube" style="display: inline-block;"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li class="linkedin" style="display: inline-block;"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>


  <div class="line" style="margin-top: 16px;background: #888;"></div>
 
      <div class="col-md-12 footer-link" id="address" style="margin-top: -3px; margin-bottom: -47px;">
        <p>Copyright © 2018 Trade View Research. All rights reserved.</p>
        <ul style="margin-right: 6%;">
          <li><a href="/about">About </a></li>
          <li><a href="/contact">Contact Us </a></li>
          <li><a href="/terms-condition">Term & Conditions</a></li>
          <li><a href="/privacy-policy">Privacy Policy </a></li>
          <li><a href="">Sites Map</a></li>
        </ul>
      </div>
    </div><!-- End Row -->

  </div><!-- End container --> 
</footer><!-- End  -->

</div><!-- End Page -->

<div id="overlay"></div>
<!-- Overlay Mobile Menu Click -->
<a id="to-the-top" onclick="topFunction()" style="display: block; position: fixed;  z-index: 99;cursor: pointer;"><i class="fa fa-angle-up"></i></a> <!-- Back To Top -->
    <!-- SCRIPT
    ================================================== -->
  <style type="text/css">
    #img1
    {
      width: auto;
    }

    .font-12 { font-size: 12px; }

    #f4 p span
    {
     margin-left:0px;
     margin-right: 0px;
     word-wrap: break-word;
     text-align: justify-all;
    

    }
    .border-2-side p
    {
      margin-left: -60px;
    }
    .facebook:hover{
 /*     background-color: cyan;*/
    }
   


   .footer-col-2 {
    width: 25.5%;
    text-align: center;
    float: left;
}
#m1
{
      margin-left: 38px;
      margin-top:30px;
}
@media only screen and (max-width: 768px)  
{
  .footer-col-2 {
    width:100%;
    float: left;

  
  }
.footer-col-1
  {
    margin-top: -60px;
    clear: both;
  }
  #m1
  {
    margin-top: 60px;
    margin-left: 40px;
  }

.fa-facebook {
  
   background:none;
    color: white;
    width: 30px;
    padding: 6px;
    text-align: center;
}

.fa-twitter {
  background:none;
  color: white;
  width: 30px;
  padding: 6px;
  text-align: center;
}

.fa-google-plus {
   background:none;
  color: white;
  width: 30px;
  padding: 6px;
  text-align: center;
}

.fa-linkedin {
   background:none;
  color: white;
  width: 30px;
  padding: 6px;
  text-align: center;
}

.fa-youtube-play {
   background:none;
  color: white;
  width: 30px;
  padding: 6px;
  text-align: center;
}}
</style>
<script type="text/javascript">
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("to-the-top").style.display = "block";
    } else {
        document.getElementById("to-the-top").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>