<div class="container-fluid hidden-xs">
  <div class="row">
   <div class="col-sm-12 my-col">
      <p class="pull-right"><i class="fa fa-phone"></i> 0903-911-2958
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google-plus"></a>
      <a href="#" class="fa fa-youtube-play"></a>
      <a href="#" class="fa fa-linkedin"></a>
      </p>
   </div>
  </div>
</div>
<div class="fixed-top clearfix" id="my-affix" data-spy="affix" data-offset-top="10">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
      <%= image_tag "Header/logo.jpg", alt: "Image", class: "header-logo"%>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/service">Services</a></li> 
        <li class="dropdown visible-lg hidden-xs">
          <a href="/service" class="dropdown-toggle" data-toggle="dropdown">Services-Types<b class="caret "></b></a> 
          <ul class="dropdown-menu">
            <li class="dropdown dropdown-submenu custom-dropdown-mob"> <a href="" class="dropdown-toggle" data-toggle="dropdown">Equity</a>
              <ul class="dropdown-menu">
              <li class="kopie"><a href="/equity-cash-package">Equity Cash Package</a></li>
              <li><a href="/equity-premium">Equity Premium Cash Package</a></li>                  
              </ul>
            </li> 
            <li class="dropdown dropdown-submenu custom-dropdown-mob"><a href="#" class="dropdown-toggle" data-toggle="dropdown">F&o</a>
              <ul class="dropdown-menu">
                <li class="kopie"><a href="/stock-option">Stock Option Package</a></li>
                <li><a href="/stock-future-package">Stock Future Packages</a></li> 
                <li><a href="/stock-future-premium">Stock Future Premium</a></li>
                <li><a href="/btst-package">BTST PACKAG</a></li> 
                <li><a href="/nifty-future">Nifty Future</a></li>
              </ul>      
            </li>
            <li class="dropdown dropdown-submenu custom-dropdown-mob"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Commodity(MCX)</a>
              <ul class="dropdown-menu">
                <li class="kopie"><a href="/base_metal">(MCX) Base Metal+Energy+ Precius metal</a></li>
                <li><a href="/base-metal-energy">Base Metal + Energy</a></li>
                <li><a href="/position-mcx">Positional MCX Package</a></li>
              </ul>
            </li>
            <li class="dropdown dropdown-submenu custom-dropdown-mob"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Currency</a>
              <ul class="dropdown-menu">
                <li class="kopie"><a href="/currency">Currency Future Packag</a></li>
              </ul>
            </li> 
            <li><a href="/mutual-fund" class="dropdown-toggle">Mutual Fund</a>
            </li>                                  
          </ul>
        </li>
        <li class="visible-xs hidden-lg">
          <a data-toggle="collapse" data-target="#demo">Services-Types<b class="caret"></b></a>
          <ul class="dropdown-menu" id="demo" class="collapse">
            <li class="dropdown dropdown-submenu custom-dropdown-submenu"> <a href="" class="dropdown-toggle" data-toggle="dropdown">Equity</a>
              <ul class="dropdown-menu" id="demo" class="collapse">
              <li class="kopie"><a href="/equity-cash-package">Equity Cash Package</a></li>
              <li><a href="/equity-premium">Equity Premium Cash Package</a></li>                  
              </ul>
            </li> 
            <li class="dropdown dropdown-submenu custom-dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">F&o</a>
              <ul class="dropdown-menu">
                <li class="kopie"><a href="/stock-option">Stock Option Package</a></li>
                <li><a href="/stock-future-package">Stock Future Packages</a></li> 
                <li><a href="/stock-future-premium">Stock Future Premium</a></li>
                <li><a href="/btst-package">BTST PACKAG</a></li> 
                <li><a href="/nifty-future">Nifty Future</a></li>
              </ul>      
            </li>
            <li class="dropdown dropdown-submenu custom-dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Commodity(MCX)</a>
              <ul class="dropdown-menu">
                <li class="kopie"><a href="/base_metal">(MCX) Base Metal+Energy+ Precius metal</a></li>
                <li><a href="/base-metal-energy">Base Metal + Energy</a></li>
                <li><a href="/position-mcx">Positional MCX Package</a></li>
              </ul>
            </li>
            <li class="dropdown dropdown-submenu custom-dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Currency</a>
              <ul class="dropdown-menu">
                <li class="kopie"><a href="/currency">Currency Future Packag</a></li>
              </ul>
            </li> 
            <li><a href="/mutual-fund" class="custom-dropdown-submen text-dark">Mutual Fund</a>
            </li>                                  
          </ul>
        </li>
        <li class="dropdown"><a href="/pricing" >Pricing</a>
        </li>
        <li class="dropdown"><a href="/payment" >Payment</a>
        </li>
        <li class="dropdown"><a href="/kyc-form" >KYC</a></li>
        <li class="dropdown"><a href="/risk_profile">Risk Profile</a> 
            </li>
        <li class="dropdown"><a href="/contact">Contact Us</a>
        </li>
        <li class="dropdown">
          <a href="/risk-profile" class="dropdown-toggle bg-transparent" data-toggle="dropdown">More<b class="caret"></b></a> 
          <ul class="dropdown-menu more-dropdrown-menu">
            <li class="kopie"><a href="/privacy-policy ">Privacy Policy </a>
            </li>
            <li class="kopie"><a href="/refund-policy " >Refund Policy </a>
            </li>
            <li class="kopie"><a href="/terms-condition " >Terms &amp; Condition</a>
            </li>
            <li class="kopie"><a href="/disclaimer " >Disclaimer</a>
            </li>
            <li class="kopie"><a href="/faq">FAQ'S</a></li>
            <li class="kopie"><a href="/blogs">Blogs</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
<style>
.affix ~ .fixed-top {
  position: relative;
  top: 100px;
  bottom: -20px;
}
.affix {
  top: 0px;
  width: 100%;
  z-index: 9999 !important;
}
.fa-facebook {
 background: #3B5998;
  color: white;
  width: 30px;
  padding: 6px;
  text-align: center;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 30px;
  padding: 6px;
  text-align: center;
}
.fa-google-plus {
  background: #dd4b39;
  color: white;
  width: 30px;
  padding: 6px;
  text-align: center;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  width: 30px;
  padding: 6px;
  text-align: center;
}
.fa-youtube-play {
  background: #bb0000;
  color: white;
  width: 30px;
  padding: 6px;
  text-align: center;
}
#my-affix{margin-bottom: -6%;}
.my-col
{
  margin-left: -2%;
  margin-top: 1%;
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px){
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: #000;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
    width: 100%;
    margin-left: -3%;
  }
  .bg-transparent{
    background-color: transparent;
    color: gray!important;
  }
  #navbar-collapse-1 {
    margin-top: 20px;
    float: none;
    margin-right: 0px;
    height: 18rem;
  }
}
</style>
  

  